
*{
    margin: 0;
    padding: 0;
    font-family: todofont !important;
    font-weight: normal;
}

::selection{
    color: rgba(255, 255, 0, 0.644);
}

@font-face {
    font-family: todoFont;
    src: url("../../public/fonts/static/Oswald-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: todoFont;
    src: url("../../public/fonts/static/Oswald-Medium.ttf");
    font-weight: normal;
}

.icons{
    border-radius: 50%;
    padding: 2px;
    font-size: 20px !important;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s !important;
}

.icons:hover{
    background-color: rgba(255, 255, 255, 0.486) !important;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard{
    transition: all 0.2s !important;
}

.todoCard:hover{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.btn{
    width: 100%;
    background-color: primary !important;
    height: 100%;
    color: white;
    font-size: 20px !important;
    font-weight: bold !important;
    transition: all 0.2s !important;
}
